@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #2a2a2a;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/PPNeueMontrealMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "PP Radio Grotesk", sans-serif;
  --font-mono: "PP Neue Montreal Mono", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
