@import "tailwindcss";

:root {
  --white: #fbfbfb;
  --black: #2a2a2a;
  --orange: #e66a1f;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PP Radio Grotesk";
  src: url("/fonts/PPRadioGrotesk-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Neue Montreal Mono";
  src: url("/fonts/PPNeueMontrealMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --font-sans: "PP Radio Grotesk", sans-serif;
  --font-mono: "PP Neue Montreal Mono", monospace;
  --color-orange: var(--orange);
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-sans);
}
